.serv {
    background-color: #777;
}
.row {
    text-align: center;
}
.row h2 {
    text-transform: uppercase;
    margin: 60px 0 30px !important;
}
.row hr {
    width: 65px;
    height: 2px !important;
    background-color: orangered !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.row p {
    font-size: 15px;
    color: #777;
    margin-bottom: 60px !important;
}
.box {
    margin: 0 10px;
    width: 100%;
    cursor: pointer;
}
.box:hover svg {
    background-color: orangered;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s ease-in;
}
.box svg {
    font-size: 20px;
    color: orangered;
}
.box h3 {
    font-size: 25px;
    margin: 20px 0;
}
.container .last {
    margin: 30px 0;
    text-align: left;
}
.container .last p {
    margin: 30px 0 0;
    padding: 0;
}
.container .last ul {
    margin: 0;
    padding: 0;
}
.container .last ul li {
    padding: 4px;
}
.container .last button {
    background-color: orangered;
    color: white !important;
    border: none;
    margin: 20px 0 0;
    font-weight: 500;
}
.container .last button:hover {
    background-color: rgb(161, 161, 161) !important;
    color: #000 !important;
}
.container .last img {
    width: 400px;
}